.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    font-family: system-ui, serif;
    padding: 2rem;
    border-radius: 1rem;
    background: ghostwhite;
    font-size: 4rem;
}

.quiz_wrapper {
    display: flex;
}

.quiz_content {
    width: 100%;
    font-family: system-ui, serif;
    padding: 2rem;
    border-radius: 1rem;
    background: ghostwhite;
    font-size: 4rem;
}

.input_index {
    font-size: 4rem;
}

.button {
    font-size: 3.5rem;
}